<header class="site-header">

    <div class="menu-wrapper">
        <div class="row">
            <div class="columns small-12 medium-10 medium-centered large-8 large-centered">
                <ul class="menu">
                    <li><a class="page-link" href="{{ site.baseurl }}/">{{ site.title }}</a></li>
                    {% for page in site.pages %}
                    {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row show-for-medium">
        <div class="columns small-12 medium-10 medium-centered large-8 large-centered">
            <h1>Stu<span>f</span>f</h1>
        </div>
    </div>

    <div class="sub-header show-for-medium">
        <div class="row">
            <div class="columns small-12 medium-10 medium-centered large-8 large-centered">
                {{ site.subtitle }}
            </div>
        </div>
    </div>

</header>
